#intro-app {
  font-family: 'Verdana', 'Arial';
  padding: 20px;
  text-align: center;
  margin-top: 100px;
  
  button {
    background-color: #00aae5; /* Green */
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
  }
}

#shapes-app {

}

#todo-app {

}