#intro-app {
  font-family: 'Verdana', 'Arial';
  padding: 20px;
  text-align: center;
  margin-top: 100px;
  
  button {
    position: relative;
    background-color: #00aae5;
    border: 1px solid rgba(100, 100, 100, 0.3);
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(100, 100, 100, 0.3);
    outline: none;
    cursor: pointer;
    transition-duration: 0.2s; 
    overflow: hidden;

      &:after {
        content: "";
        background: rgba(255, 255, 255, 0.5);
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -40px!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
      }

      &:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
      }
  }
}

#shapes-app {
  margin: 0 auto;
  font-family: 'Verdana', 'Arial';
  width: 500px;
  margin-top: 20px;
  background-color: #00ace5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(200, 200, 200, 0.5);

  /* The container */
  .container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-right: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #aaa;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
   top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
  }

  input[type=number] {
    width: 200px;
    padding: 6px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
  }
}

#todo-app {

}