**/bin/
**/obj/
plan.txt
TypeProviders/db/vg.bd
TypeProviders/db/.sqlite
TypeProviders/db/b.sqlite
TypeProviders/db/db.sqlite
TypeProviders/db/e
TypeProviders/db/ite
TypeProviders/db/lite
TypeProviders/db/qlite
TypeProviders/db/sqlite
TypeProviders/db/te
TypeProviders/db/v
TypeProviders/db/vg
TypeProviders/db/vg.b
TypeProviders/db/vg.bs
TypeProviders/db/vg.d