**/bin/
**/obj/
plan.txt
TypeProviders/db/vg.bd
TypeProviders/db/.sqlite
TypeProviders/db/b.sqlite
TypeProviders/db/db.sqlite
TypeProviders/db/e
TypeProviders/db/ite
TypeProviders/db/lite
TypeProviders/db/qlite
TypeProviders/db/sqlite
TypeProviders/db/te
TypeProviders/db/v
TypeProviders/db/vg
TypeProviders/db/vg.b
TypeProviders/db/vg.bs
TypeProviders/db/vg.d
**/Db/vg.bd
**/Db/.sqlite
**/Db/b.sqlite
**/Db/db.sqlite
**/Db/e
**/Db/ite
**/Db/lite
**/Db/qlite
**/Db/sqlite
**/Db/te
**/Db/v
**/Db/vg
**/Db/vg.b
**/Db/vg.bs
**/Db/vg.d

**/.vs/

**/obj/
**/bin/